.about-wrapper{
    background: url("../../img/pic3.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* height: 70vh; */
    height: 85vh;
    z-index: 10;
    /* background-color: lightgray; */
}

.about-container{
    display: flex;
    flex-direction: row;
    padding: 5%;
    background-color: black;
}

.about-container_1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.about-container_1_mission{
    margin-bottom: 100px;
}

.about-container_1_mission h2{
    color: lightgray;
    font-weight: bolder;
    font-size: 50px;
}

.about-container_1_mission span{
    color: rgb(182, 182, 182);
    display: block;
    margin-top: 30px;
    font-size: 17px;
    font-weight: initial;
/*     letter-spacing: 0px;
    word-spacing: px; */
}

.about-container_1_vision{
    padding-right: 80px;
}

.about-container_1_img{
    position: absolute;
    background-color: rgba(211, 211, 211, 0.247);
    height: 300px;
    width: 400px;
    margin-top: 600px;
}

.about-container_1_vision h2{
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
}

.about-container_1_vision span{
    color: rgb(182, 182, 182);
    display: block;
    display: block;
    font-size: 16px;
    margin-top: 30px;
}


.about-container_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    /* padding-left: 15%; */
}

.about-container_2 p{
    margin-bottom: 100px;
    width: 50%;
    color: rgb(182, 182, 182);
}


.members_section{
    background-color: black;
    padding: 2% 5%;
    padding-bottom: 100px;
}

.members_section_main_title{
    color: rgb(182, 182, 182);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.members_section_member_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 280px;
    background-color: transparent;
    overflow: hidden;
}

.members_section_member{
    background-color: transparent;
    height: 250px;
    width: 230px;
    margin: 20px;
}


.members_section_member_thumbnail{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75%;
    margin-bottom: 10px;
}

.members_section_member_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.members_section_member_info span{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "poppins",sans-serif;
    font-size: 15px;
    color: rgb(182, 182, 182);
}

.members_section_member_info .members_section_member_info_titles{
    color: grey;
    font-weight: 500;
    font-size: 12px;
    font-family: poppins;
}